<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Tennis Court Finder</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	</head>
	<body>
        <h1>Find A Tennis Court!</h1>

            <img src="img/female-tennis-player-silhouette.png" alt="">
    
        <h2>Where You At?</h2>
        <form action="/enterZip" method="POST">
            <input type="text" id="enterZip" placeholder="Enter Zip Code" name="zipItem">
            <input type="Submit">
        </form>
        <ul>
            <li>this is where the results will eventually go</li>
        </ul>
       
       <button>Refresh</button>
    

	</body>
</html>
